<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Filter Actors</title>

    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">

    <!-- page specific styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">
</head>
<body>
    <div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
        <span id="header-title" class="title">
                    Codecool Series Database
                </span>
        <div id="header-auth">
            <button type="button" id="bt-register">Register</button>
            <button type="button" id="bt-login">Login</button>
        </div>
    </header>
    <section>

        <h1 class="title text-center">Filter Actors</h1>



            <div >
            <label style="color: white" for="genres">Choose a genre:</label><br>
            <select id="select-genre">
            <option value="{{ genres[0].id }}">{{ genres[0].name }}</option>
                {% for genre in genres[1:] %}
              <option value="{{ genre.id }}">{{ genre.name }}</option>
                {% endfor %}
            </select>

            </div>
    <br>
            <div >
                <form>
                    <label style="color: white" for="search-actor">Search for actor:</label><br>
                    <input id="search-actor" type="text" placeholder="e.g. Julia">
                </form>
            </div>

        <br><br>
            <div class="card">
                <div>
                <ul id="actors">
{#                    {% for actor in actors %}#}
                        <li>

                        </li>
{#                    {% endfor %}#}
                </ul>
                </div>

            </div>

    </section>
    <footer>
        Copyright, bla-bla
    </footer>
</div>

<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
<script src="/static/js/filter-actors.js"></script>
</body>
</html>
